
/* ESTO SERIA EL TOTAL DEL HEADER
.header-principal {
  height: 80px;
  display: flex;
  align-items: center;
}
*/


header li {
    display: inline-block;
    color: #060a24;
    letter-spacing: 0;
    line-height: 28px;
  }
  
 
