*,
*:before,
*:after {
  box-sizing: border-box;
}

.logo {
  width: 24px;
  height: 24px;
}

/*ACA LE DOY FORMATO AL TITULO */
.titulo1 {
  width: 85px;
  height: 42px;
  margin: 0;

  font-size: 36px;
  letter-spacing: 0;
  display: inline-block;
}

.world {
  display: inline-block;
  font-size: 36px;
  width: 101px;
  height: 42px;
  text-decoration: line-through;
}

.titulo2 {
  display: inline-block;
  margin: 0;
  font-size: 36px;
  letter-spacing: 0;
}

.part1 {
  width: 152px;
  height: 84px;
  color: #060a24;
}

.part2 {
  text-decoration: line-through;
  width: 179px;
  height: 84px;
  color: #060a24;
}
.part3 {
  width: 391px;
  height: 84px;
  color: #060a24;
}

.part4 {
  margin-left: -40px;
  width: 18px;
  height: 84px;
  color: #0000ec;
}

/*ACA LE DOY FORMATO AL TEXTO*/
.texto {
  font-family: "IBM Plex Mono";
  font-size: 14px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 22px;
}


.phone {
  width: 100%;
  height: 519px;
  transform: translate(-20px 1455px);
}

/*EPISODIOS
clip-path: polygon(0 18%, 100% 0, 100% 78%, 0 100%);
*/

.diagonal {
  position: relative;
  padding-top: 12rem;
  min-height: 500px;
  padding-bottom: 12rem;
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  clip-path: polygon(0 5%, 100% 0, 100% 97%, 0 100%);
}

.diagonal h2 {
  width: 157px;
  height: 42px;
  /*color: #FFFFFF;*/
  font-size: 36px;
  font-family: "IBM Plex Sans", sans-serif;
  letter-spacing: 0;
  line-height: 42px;
  transform: translate(16px 411px);
}

.episodios iframe {
  width: 100%;
}

/*ACA LE DOY FORMATO A LAS FOTOS*/
.fotos ul li {
  list-style: none;
  margin-bottom: -5px;
}

.fotos ul {
  padding: 0;
}

.fotos ul li img {
  width: 100%;
}

/*ACA LE DOY FORMATO A LA SECCION ICONOS*/
.iconos div img {
  width: 104px;
  height: 104px;
}

/*SECCION DIAGONAL 2*/

.diagonal2 {
  position: relative;
  width: 320px;
  height: 100%;
  padding-top: 12rem;
  min-height: 500px;
  padding-bottom: 12rem;
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  clip-path: polygon(0 9%, 100% 0, 100% 100%, 0 100%);
}

.diagonal2 p {
font-family: IBMPlexSans;
font-size: 36px;
color: #FFFFFF;
letter-spacing: 0;
text-align: center;
line-height: 42px;
}

.diagonal2 a {

}


/* GOOGLE FONTS
      font-family: 'IBM Plex Mono', monospace;
font-family: 'IBM Plex Sans Condensed', sans-serif;
      
      */
